._1 {
  @include adaptive(padding-bottom, 20, 176);
  background: #1E2030;

  .top_navigation_wrap {
    background: #2C2E3E;
  }

  .top_navigation {
    display: flex;
    align-items: center;
    max-width: 1470px;
    margin: 0 auto;
    padding: 15px 16px;

    &__item {

      &:first-child {
        @include adaptive(margin-right, 12, 175);
        margin-left: 0;
      }

      &:nth-child(2) {
        margin-right: 12px;
      }

      &:last-child {
        display: flex;
        margin-left: auto;
      }

      .nav_list {
        display: flex;

        li {
          @include adaptive(margin-right, 12, 60);

          &:hover {
            background: rgba(143, 149, 172, 0.2);
            border-radius: 100px;
          }

          a {
            display: block;
            font-style: normal;
            font-weight: 700;
            font-size: var(--fz16);
            line-height: var(--fz20);
            color: var(--clr-white);
            @include adaptive(padding, 8, 10);
            @include adaptive(padding-left, 16, 18);
            @include adaptive(padding-right, 16, 18);
            border-radius: 100px;
          }

          &:first-child {
            @include adaptive(margin-right, 12, 50);
            position: relative;

            a {
              display: flex;
              
              img {
                @include adaptive(margin-left, 10, 16);
              }
            }

            &:hover {
              background: #FF2D23;
              border-radius: 100px;
                 
              a {
                img {
                  rotate: 180deg;
                }
              }
              
              .open_menu {
                display: block;
              }
            }
          }

          &:last-child {
            margin-right: 0;
          }
        }

        .open_menu {
          display: none;
          position: absolute;
          z-index: 1000;
          width: 100%;
          height: 100%;
          padding-top: 28px;

          &__items {
            width: 540px;
            @include adaptive(padding, 16, 26);
            @include adaptive(padding-left, 16, 33);
            @include adaptive(padding-right, 16, 53);
            position: absolute;
            padding-top: 25px;
            background: #2C2E3E;
            border-radius: 9px;
          }

          &__list1 {
            padding-bottom: 22px;
            margin-bottom: 20px;
            border-bottom: 0.5px solid #8F95AC;
          }

          &__list1, &__list2 {
            display: flex;

            &__item {
              display: flex;
              cursor: pointer;

              &:first-child {
                @include adaptive(margin-right, 16, 42);
              }

              img {
                align-self: flex-start;
                @include adaptive(margin-right, 8, 12);
              }
              .txt {
                &__text1 {
                  font-style: normal;
                  font-weight: 700;
                  font-size: var(--fz16);
                  line-height: var(--fz20);
                  color: var(--clr-white);
                  @include adaptive(margin-bottom, 4, 6);
                }

                &__text2 {
                  font-style: normal;
                  font-weight: 400;
                  font-size: 14px;
                  line-height: 18px;
                  color: #8F95AC;
                }
              }
            }
          }
        }
      }

      .button {
        @include adaptive(padding, 16, 42);
        @include adaptive(padding-top, 10, 14);
        @include adaptive(padding-bottom, 12, 16);
        background: #FF0C00;
        border-radius: 32.5px;
        font-style: normal;
        font-weight: 700;
        font-size: var(--fz16);
        line-height: var(--fz20);
        color: var(--clr-white);

        &:hover {
          box-shadow: 0px 10px 20px rgba(255, 45, 35, 0.3);
        }
      }
    }
  }

  .main_content {
    max-width: 1220px;
    margin: 0 auto;
    @include adaptive(margin-top, 20, 120);
    display: flex;
    justify-content: space-between;

    &__left {
      width: 60%;
      @include adaptive(margin-right, 0, 32);
      @include adaptive(padding-top, 0, 32);

      .main_text {
        font-style: normal;
        font-weight: 700;
        font-size: var(--fz48);
        line-height: var(--fz55);
        color: #FFFFFF;
        max-width: 520px;
        @include adaptive(margin-bottom, 16, 46);
      }

      .form {
        &__inputs {
          display: flex;
          justify-content: space-between;
          max-width: 720px;
          @include adaptive(margin-bottom, 16, 40);

          &__item {
            width: 50%;

            &:first-child {
              @include adaptive(margin-right, 12, 30);
            }

            label {
              display: block;
              font-style: normal;
              font-weight: 400;
              font-size: 14px;
              line-height: 25px;
              color: #8F95AC;
              @include adaptive(margin-bottom, 4, 6);
            }

            input, .__select__title {
              outline: none;
              @include adaptive(padding, 16, 21);
              @include adaptive(padding-right, 16, 25);
              @include adaptive(padding-bottom, 16, 26);
              outline: none;
              width: 100%;
              background: none;
              border: 1px solid #8F95AC;
              border-radius: 4px;

              font-style: normal;
              font-weight: 400;
              font-size: var(--fz14);
              line-height: var(--fz18);
              color: #FFFFFF;

              &::placeholder {
                font-style: normal;
                font-weight: 400;
                font-size: var(--fz14);
                line-height: var(--fz18);
                color: #FFFFFF;
              }
            }
          }
          
          .__select {
            position: relative;
          
            &[data-state="active"] {
              .__select__title {
                &::before {
                  transform: translate(-3px, -50%) rotate(-45deg);
                }
          
                &::after {
                  transform: translate(3px, -50%) rotate(45deg);
                }
              }
              
              .__select__content {
                opacity: 1;
              }
              
              .__select__label + .__select__input + .__select__label {
                max-height: 40px;
                border-top-width: 1px;
                color:#FFFFFF;
              }
            }
          }
          .__select__title {
            display: flex;
            align-items: center;
            border-radius: 5px;
            
            cursor: pointer;
          
            &::before,
            &::after {
              content: "";
          
              position: absolute;
              top: 50%;
              right: 24px;
          
              display: block;
              width: 10px;
              height: 2px;
          
              transition: all 0.3s ease-out;
          
              background-color: #fff;
          
              transform: translate(-3px, -50%) rotate(45deg);
            }
            &::after {
              transform: translate(3px, -50%) rotate(-45deg);
            }
          }
          
          .__select__content {
            padding: 12px 8px;
            position: absolute;
            top: 100%;
            left: 0px;
          
            display: flex;
            flex-direction: column;
            width: 100%;
          
            background-color: #1E2030;
          
            border: 1px solid #8F95AC;
            border-top: none;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            
            transition: all 0.3s ease-out;
          
            opacity: 0;
            z-index: 8;

            label {
              &:hover {
                background: rgba(143, 149, 172, 0.1);
              }
            }
          }
          .__select__input {
            display: none;
          
            &:checked + label {
              background: rgba(143, 149, 172, 0.1);
              border-radius: 3px;
            }
            &:disabled + label {
              opacity: 0.6;
              pointer-events: none;
            }
          }
          .__select__label {
            display: flex;
            align-items: center;
            width: 100%;
            max-height: 0;
            padding: 8px 16px 9px 18px;
            margin: 0 0 0;

            &__done {
              padding: 0;
            }
            
            transition: all 0.2s ease-out;
          
            cursor: pointer;
            
            overflow: hidden;
          
            & + input + & {
              border-top: 0 solid #C7CCD160;
            }
          
            &:hover {
          
              color: #ffffff;
            }
          }
        }

        .button {
          outline: none;
          font-weight: 700;
          font-size: var(--fz16);
          line-height: var(--fz20);
          color: var(--clr-white);
          @include adaptive(padding, 16, 38);
          @include adaptive(padding-top, 10, 19);
          @include adaptive(padding-bottom, 12, 21);
          background: #FF0C00;
          border-radius: 32.5px;
          cursor: pointer;

          &:hover {
            box-shadow: 0px 10px 20px rgba(255, 45, 35, 0.3);
          }
        }

        &__checkbox {
          @include adaptive(margin-top, 16, 40);

          label {
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
            color: #8F95AC;
            max-width: 380px;

            a {
              color: #FF2D23;
            }
          }

          input[type="checkbox"]:checked, 
          input[type="checkbox"]:not(:checked)
          {
              position: absolute;
              left: -9999px;
          }

          input[type="checkbox"]:checked + label, 
          input[type="checkbox"]:not(:checked) + label {
              display: inline-block;
              position: relative;
              padding-left: 28px;
              line-height: 20px;
              cursor: pointer;
          }

          input[type="checkbox"]:checked + label:before, 
          input[type="checkbox"]:not(:checked) + label:before {
              content: "";
              position: absolute;
              left: 0px;
              top: 0px;
              width: 18px;
              height: 18px;
              border: 1px solid rgba(143, 149, 172, 0.3);
              background-color:rgba(143, 149, 172, 0.3);
              border-radius: 2px;
          }

          input[type="checkbox"]:checked + label:before {
            background: #FF2D23;
          }

          input[type="checkbox"]:checked + label:before, 
          input[type="checkbox"]:not(:checked) + label:before {
              border-radius: 2px;
          }

          input[type="checkbox"]:checked + label:after, 
          input[type="checkbox"]:not(:checked) + label:after {
              content: "";
              background: url(../../public/check-mark-icon.svg) 0 0 no-repeat;
              position: absolute;
              -webkit-transition: all 0.2s ease;
              -moz-transition: all 0.2s ease;
              -o-transition: all 0.2s ease;
              transition: all 0.2s ease;

              
          }

          input[type="checkbox"]:checked + label:after, 
          input[type="checkbox"]:not(:checked) + label:after {
              left: 2px;
              top: 2px;
              width: 13px;
              height: 10px;
          }

          input[type="checkbox"]:not(:checked) + label:after {
              opacity: 0;
          }

          input[type="checkbox"]:checked + label:after {
              opacity: 1;
          }
        }
      }
    }

    &__right {
      width: 40%;

      img {
        margin-left: auto;
      }
    }
  }
  
  @media (max-width: 500px) {
   
  }
}

._2 {
  @include adaptive(padding-top, 20, 84);

  .main_text {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 55px;
    text-align: center;
    color: #2C2E3E;
  }
}