@use 'sass:math';

@mixin adaptive($property, $minValue, $maxValue, $breakPoint: 1920) {
	$min: $minValue + px;
	$max: $maxValue + px;
	@if ($breakPoint) {
		$coeff: math.div($breakPoint, 100);
		$vw: calc(round(math.div($maxValue, $coeff) * 1000) / 1000) + vw;
		#{$property}: clamp(#{$min}, #{$vw}, #{$max});
	} @else {
		$coeff: math.div(1920, 100);
		$vw: calc(round(math.div($maxValue, $coeff) * 1000) / 1000) + vw;
		#{$property}: clamp(#{$min}, #{$vw}, #{$max});
	}
}
