:root {
  --clr-white: #ffffff;
  --clr-black: #172121;
  --clr-gray-lt: #f3f5f9;
  --clr-gray: #596060;
  --clr-accent: #09a1a4;

  --font-main: "Formular", Arial, Helvetica, sans-serif;

  --fz55: clamp(16px, 2.86vw, 55px);
  --fz48: clamp(16px, 2.5vw, 48px);
  --fz20: clamp(16px, 1.04vw, 20px);
  --fz18: clamp(14px, 0.93vw, 18px);
  --fz16: clamp(15px, 0.83vw, 16px);
  --fz14: clamp(12px, 0.73vw, 14px);

  --fz120: clamp(24px, 6.25vw, 120px);
  --fz96: clamp(22px, 6.25vw, 96px);
  --fz64: clamp(18px, 3.33vw, 64px);
  --fz56: clamp(18px, 3.33vw, 56px);
  --fz36: clamp(18px, 1.87vw, 36px);
  --fz32: clamp(18px, 1.87vw, 32px);
  --fz24: clamp(16px, 1.25vw, 24px);
  
  
}
